*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color: #2F1893;
    width: 100%;
    height: 800px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.navbar{
    /* border: 2px solid red; */
    height: 50px;
    width: 1000px;
    margin:50px 50px 0px 208px ;
    /* width: 1366px;  */
    /* padding: 50px 50px 0px 50px;      */
    /* padding-left: 100px;
    padding-top: 100px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
/* display: flex;
width: 111px;
height: 19px;
justify-content: center;
align-items: center;
flex-shrink: 0; */

}

.leftside{
    /* border: 2px solid green; */
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 40px;
    color: white;
    font-weight: bolder ;

    /* padding: 0px 0px 20px 0px */
}

.rightside ul{
    /* border: 2px solid green; */
    height: 30px;
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.overview{
    color: gray;
}
.purchase{
      /* border: 2px solid green; */
      border-radius: 25px;
      /* margin-top: 40px; */
      font-size: 20px;
      width: 100px;
      height: 30px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:rgb(235, 67, 95);
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid white; */
    width: 1000px;
    height: 550px;
    margin:100px 50px 0px 208px ;
}

.discription{
    /* border: 2px solid yellow; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 450px;
    height: 500px;
    color: white;
}

.top{
    margin-top: 20px;
    font-size: 58px;
    font-weight: bolder;
}

.bottom{
    margin-top: 22px;
    font-size: 20px;
}

.learnmore{
    /* border: 2px solid green; */
    border-radius: 25px;
    margin-top: 40px;
    font-size: 20px;
    width: 157px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(209, 22, 53);

}

.signup{
    background-color: white;
    border: 5px solid pink;
    width:500px ;
    height: 550px;
    

}
.signupnow{
    margin-top: 55px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1E0E62;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.email{
    margin-top: 30px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 25px;
    height: 40px;
    width: 330px;
}

.password{
    margin-left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 25px;
    height: 40px;
    width: 330px;
}

.checkbox{
    margin-left: 85px;
    margin-top: 25px;
    color: rgb(73, 70, 70);
}

.button1{
    background-color: #482BE7;
    color: white;
    margin-top: 30px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 25px;
    height: 40px;
    width: 330px;
    font-size: 16px;
}

.or{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2{
    background-color:#1DA1F2;
    color: white;
    margin-top: 10px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 25px;
    height: 40px;
    width: 330px;
    font-size: 16px;
}

.account{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

